*~
*.elc
.#*
\#*
/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/.python-environments/
/.session
/ac-comphist.dat
/auto-save-list/
/bookmarks
/ede-projects.el
/el-get/
/elpa/
/emms/
/eproject.lst
/eshell/
/history/
/ido.last
/irony/
/projectile.cache
/projectile-bookmarks.eld
/recentf
/semanticdb/
/.smex-items/
/site-lisp/
/url/
/var